<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-coda>/WEB-INF/menus.html</include-coda>
    </jsp-property-group>
  </jsp-config>
  
    <listener>
    <listener-class>dao.InitialisationDaoFactory</listener-class>
  </listener>
  <filter>
  	<filter-name>recupInfosDB</filter-name>
  	<filter-class>filtre.RecupererInfosFromDB</filter-class>
   </filter>
   <filter-mapping>
    <filter-name>recupInfosDB</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>creationClient</servlet-name>
    <servlet-class>sevlets.CreationClient</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/home/dosne/Bureau/</param-value>
    </init-param>
    <multipart-config>
      <location>tmp</location>
      <max-file-size>104852760</max-file-size>
      <max-request-size>104852760</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>creationClient</servlet-name>
    <url-pattern>/creationClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>creationCommande</servlet-name>
    <servlet-class>sevlets.CreationCommande</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/home/dosne/Bureau/</param-value>
    </init-param>
    <multipart-config>
      <location>tmp</location>
      <max-file-size>104852760</max-file-size>
      <max-request-size>104852760</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>creationCommande</servlet-name>
    <url-pattern>/creationCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listerClient</servlet-name>
    <servlet-class>sevlets.ListerClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listerClient</servlet-name>
    <url-pattern>/listerClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listerCommande</servlet-name>
    <servlet-class>sevlets.ListerCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listerCommande</servlet-name>
    <url-pattern>/listerCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supprimerClient</servlet-name>
    <servlet-class>sevlets.SupprimerClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerClient</servlet-name>
    <url-pattern>/supprimerClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supprimerCommande</servlet-name>
    <servlet-class>sevlets.SupprimerCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerCommande</servlet-name>
    <url-pattern>/supprimerCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>sevlets.Download</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/home/dosne/Bureau/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download/*</url-pattern>
  </servlet-mapping>
</web-app>